<h3>PlayerInfo</h3>

<div>
    <table>
        <tr>
            <td>Level</td>
        </tr>
        <tr>
            <td>@Player.Level</td>
        </tr>

        <tr>
            <td>Exp</td>
        </tr>
        <tr>
            <td>@Player.Exp</td>
        </tr>

        <tr>
            <td>Credits</td>
        </tr>
        <tr>
            <td>@Player.Credits</td>
        </tr>
    </table>

    <ProjectBlazor.Pages.Stats.StatInfo Stats="Player.Stats" />
</div>

@code {
    [Parameter]
    public ProjectBlazor.Data.Game.General.PbPlayer Player { get; set; }

}
