@page "/"

@using ProjectBlazor.Data.Game
@inject ProjectBlazor.Data.Game.General.PbGame ProjectBlazorGame

<h1>Project Blazor!</h1>

<table class="table">
    <tr>
        <td>
            <button class="btn btn-primary" @onclick="LevelUp">
                Level Up
            </button>
        </td>
        <td>
            <button class="btn btn-primary" @onclick="ResetBattle">
                Reset Battle
            </button>
        </td>
    </tr>
</table>

<ProjectBlazor.Pages.Stats.PlayerInfo Player="ProjectBlazorGame.Player" />
<hr />
<hr />
<ProjectBlazor.Pages.Stats.AbilityInfo Ability="ProjectBlazorGame.Player.Abilities[0]" />
<hr />
<hr />
<ProjectBlazor.Pages.Stats.EquipmentInfo Equipment="ProjectBlazorGame.Player.Weapon" />
<hr />
<hr />
<ProjectBlazor.Pages.Stats.EquipmentInfo Equipment="ProjectBlazorGame.Player.Armor" />
<hr />
<hr />
<ProjectBlazor.Pages.Stats.EquipmentInfo Equipment="ProjectBlazorGame.Player.Barrier" />


@code {
    private void LevelUp()
    {
        ProjectBlazorGame.Player.LevelUp();
    }

    private void ResetBattle()
    {
        ProjectBlazorGame.Battle.ResetBattle();
    }
}
