@page "/"

@using ProjectBlazor.Data.Game
@inject ProjectBlazor.Data.Game.General.PbGame ProjectBlazorGame

<h1>Project Blazor!</h1>

<ProjectBlazor.Pages.Stats.PlayerInfo Player="ProjectBlazorGame.Player" />
<ProjectBlazor.Pages.Stats.EquipmentInfo Equipment="ProjectBlazorGame.Player.Weapon" />
<ProjectBlazor.Pages.Stats.EquipmentInfo Equipment="ProjectBlazorGame.Player.Armor" />
<ProjectBlazor.Pages.Stats.EquipmentInfo Equipment="ProjectBlazorGame.Player.Barrier" />


@code {
    //ProjectBlazor.Data.Game.General.PbGame ProjectBlazorGame;

    protected override async Task OnInitializedAsync()
    {
        //ProjectBlazorGame = new Data.Game.General.PbGame();
    }
}
