
@inject ProjectBlazor.Data.Game.General.PbGame ProjectBlazorGame

<h3>AbilityButtons</h3>

<div>
    <table class="table table-bordered table-sm">

        @foreach (ProjectBlazor.Data.Game.Battle.PbAbilityActionBar abilityActionBar in AbilityActionBars)
        {
            <tr>
                <td>
                    <button class="btn btn-primary" @onclick="@(e => UseAbilityFunction.InvokeAsync(abilityActionBar.Ability.Name))">
                        @abilityActionBar.Ability.Name
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <progress id="progAbility" value="@abilityActionBar.ActionBar" max="1000.0"></progress>
                </td>
            </tr>
        }

    </table>
</div>

@code {
    [Parameter]
    public List<ProjectBlazor.Data.Game.Battle.PbAbilityActionBar> AbilityActionBars { get; set; }

    [Parameter]
    public EventCallback<string> UseAbilityFunction { get; set; }

}
