<h3>ClassInfo</h3>

@code {
    [Parameter]
    public ProjectBlazor.Data.Game.General.PbClass Class { get; set; }

    [Parameter]
    public ProjectBlazor.Data.Game.General.PbClass ClassToCompare { get; set; }
}
