<h3>RaceInfo</h3>

@code {
    [Parameter]
    public ProjectBlazor.Data.Game.General.PbRace Race { get; set; }

    [Parameter]
    public ProjectBlazor.Data.Game.General.PbRace RaceToCompare { get; set; }
}
