@page "/Equipment/EquipWeaponScreen"

<h3>EquipWeaponScreen</h3>

@using ProjectBlazor.Data.Game
@inject ProjectBlazor.Data.Game.General.PbGame ProjectBlazorGame

@code {
    private void EquipWeapon(string name)
    {
        Console.WriteLine(name);
        ProjectBlazorGame.EquipItem(ProjectBlazor.Data.Game.General.PbTypes.EQUIPMENT_TYPE.WEAPON, name);
    }
}
